.box-comment {
    margin-top: 32px !important;


    .title {
        font-size: 25px;
        line-height: 37px;
        text-transform: uppercase;
        color: #000000;
        font-weight: $font-weight-normal;
        text-transform: uppercase;
        font-family: $font-family-branch;
    }



    .box-content {
        margin-top: 24px;

        .wrap-comment {
            width: 100%;

            .d-flex {
                display: block;

                @media (min-width: 1024px) {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                }
            }

            .col {
                font-size: 15px;
                line-height: 20px;
                color: #6C757D;
                font-weight: $font-weight-medium;
                display: flex;
                align-items: center;

                .col {

                    >* {
                        min-width: 30px;
                        height: 30px;
                        border-radius: 15px;
                        margin-left: 6px;
                        display: flex;
                        align-items: center;

                        &:first-child {
                            margin-left: 0;
                        }
                    }
                }


                a {
                    font-weight: $font-weight-medium;
                    font-size: 14px;
                    line-height: 20px;
                    color: #032B82;
                }
            }

            .fb {
                background: #3b5998 url(../img/fb.png) center center/10px no-repeat;
            }

            .zl {
                background: red url(../img/yt.png) center center/17px no-repeat;
            }

            .mail {
                background: #6C757D url(../img/mail.png) center center/16px no-repeat;
            }
        }
    }

    textarea {
        background: #f8f9fa;
        padding: 12px 16px;
        font-weight: 400;
        font-size: 15px;
        line-height: 20px;
        color: #6c757d;
        border: none;
        width: 100%;
    }

    .wrap-login {
        display: flex;
        align-items: center;

        span {
            font-weight: $font-weight-medium;
            font-size: 14px;
            line-height: 20px;
            color: #6c757d;
            margin-right: 4px;
        }

        button {
            width: 26px;
            height: 26px;
            margin-right: 7px;
            border-radius: 50%;

            i {
                font-size: 13px;
                line-height: 15px;
                color: #ffffff;
            }

            &:last-of-type {
                margin-right: 15px;
            }
        }

        .fb,
        .mail {
            background: #3b5998;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .zalo {
            background: #03a5fa url(../img/icon-zalo.png) center center/10px no-repeat;
        }

        .google {
            background: #cc4034;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .login {


            font-weight: $font-weight-medium;
            font-size: 14px;
            line-height: 20px;
            color: #032b82;
            margin-left: 9px;
        }
    }

    .total-comment {
        font-weight: $font-weight-semibold;
        font-size: 13px;
        line-height: 15px;
        text-transform: uppercase;
        color: var(--color-heading);
    }

    .wrap-select {
        label {
            font-weight: $font-weight-normal;
            font-size: 13px;
            line-height: 15px;
            text-transform: uppercase;
            // color: #333333;
            color: var(--color-heading);
            margin-bottom: 0;
        }

        select {
            background: #ffffff url(../img/vector.png) 172px 15px no-repeat;
            border: 1px solid #e5e5e5;
            box-sizing: border-box;
            outline: none;
            padding: 10px;
            font-weight: $font-weight-normal;
            font-size: 13px;
            line-height: 15px;
            color: #555555;
            cursor: pointer;
            width: 200px;
            appearance: none;
            -moz-appearance: none;
            -webkit-appearance: none;
            position: relative;
        }
    }

    .topic-comment {
        display: flex;
    }

    .sub-comment {
        margin-left: 66px;
        margin-top: 16px;
        border-top: 1px solid #ddd;
        padding-top: 16px;

        .wrap-comment {
            margin-top: 15px;
        }

        .avatar {
            width: 30px;
            height: 30px;
            background: #ced4da url(../img/user.png) center center/15px no-repeat;
        }
    }

    .w-100.mt-3 {
        justify-content: flex-end;
    }

    .wrap {
        .w-100.mt-3 {
            position: relative;
            height: 36px;
        }
    }

    .btn-Submit {
        border-radius: 8px;
        padding: 8px 20px 8px 46px;
        font-weight: $font-weight-normal;
        font-size: 15px;
        line-height: 18px;
        color: #fff;
        background: #dc3545 url(../img/comment.png) center left 20px no-repeat;
    }

    .sub-comments {
        .comment {
            display: flex;
        }
    }

    .avatar {
        width: 52px;
        height: 50px;
        border-radius: 50%;
        padding: 15px;
        background: #ced4da url(../img/user.png) center/21px no-repeat;
        position: relative;
        overflow: hidden;

        img {
            position: absolute;
            top: 0;
            right: 0;
            width: 100%;
        }
    }

    .user {
        margin-top: 20px;

        .comment.inner-comment {
            border-top: 1px solid #ddd;
            padding-top: 16px;
            margin-top: 16px;

            &:first-child {
                border-top: 0;
                padding-top: 0;
                margin-top: 0;
            }
        }

        .content-comment {
            width: 100%;

            .info-author {
                font-weight: $font-weight-semibold;
                font-size: 18px;
                line-height: 22px;
                color: #212529;
                float: left;
                margin-bottom: 12px;
            }

            .time {
                font-weight: $font-weight-medium;
                font-size: 12px;
                line-height: 22px;
                text-align: right;
                color: #999999;
                float: right;
            }

            .text {
                margin-top: 12px;
                font-weight: $font-weight-normal;
                font-size: 15px;
                line-height: 23px;
                color: #212529;
                clear: both;
            }
        }

        .action-comment {
            margin-top: 8px;
            margin-bottom: 0;

            >* {
                margin-right: 40px;

                font-weight: $font-weight-medium;
                font-size: 14px;
                line-height: 20px;
                color: #6c757d;

                &:last-child {
                    margin-right: 0;
                }
            }

            .btnLike {
                &.active {}
            }

            i {
                padding-right: 8px;
                font-size: 16px;
                line-height: 20px;
                color: #555555;
                display: inline-block;
                position: relative;
                top: 3px;

                &::before {
                    font-size: 20px;
                }
            }
        }

        .action-comment-reply {
            margin-top: 15px;
        }
    }

    .btn.btn-link {
        background: $primary;
        border-radius: 6px;
        padding: 8px 12px;
        font-size: 16px;
        line-height: 20px;
        text-transform: uppercase;
        color: #ffffff;
        display: flex;
        align-items: center;
        margin: 16px auto 0;

        &::after {
            display: inline-block;
            width: 0;
            height: 0;
            margin-left: 0.2125em;
            vertical-align: 0.2125em;
            content: "";
            border-top: 0.25em solid;
            border-right: 0.25em solid transparent;
            border-bottom: 0;
            border-left: 0.25em solid transparent;
        }
    }

    // .btn-Submit,
    .btnSubmit {
        border-radius: 8px;
        padding: 8px 20px 8px 46px;
        font-weight: $font-weight-medium;
        font-size: 15px;
        line-height: 18px;
        text-transform: uppercase;
        color: #FFFFFF;
        background: #DC3545 url(../img/comment.png) center left 20px no-repeat;
        margin-left: auto;
        display: flex;
        margin-top: 12px;
    }
}