<div class="local-news">
    <h3 class="box-heading">
        <a href="" class="title">tin địa phương</a>
    </h3>
    <div class="box-content">
        <select name="">
            <option value="">Tp Lào Cai</option>
            <option value="">Tp Lào Cai 1</option>
            <option value="">Tp Lào Cai 2</option>
            <option value="">Tp Lào Cai 3</option>
        </select>
        @@for (var i = 0; i < 5; i++) { <article class="story">
            <figure class="story__thumb">
                <a href="" title=""> <img src="https://source.unsplash.com/random/150x100?sig=1" alt="150x100 (3x2)"></a>
            </figure>
            <h5 class="story__heading">
                <a href="#">
                    Official Gazette issues Nos 09-12/2022, available on April 28, 2022
                </a>
            </h5>
            </article>
            }
    </div>
</div>