// ----------------------------------
// INFO : style global
// ----------------------------------
.d-flex {
    display: flex;
}

.row {
    display: flex;
    align-items: center;
}

a:hover {
    color: $primary;
}

.back-to-top {
    transition: background-color .3s,
        opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    width: 40px;
    background: #E21F26;
    height: 40px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    cursor: pointer;
    background: url(../img/back-to-top.png) center center no-repeat;

    &.show {
        opacity: 1;
        visibility: visible;
    }
}


.more-news {
    background: #DC3545;
    border: 1px solid #E9ECEF;
    border-radius: 6px;
    padding: 12px 70px;
    font-weight: $font-weight-medium;
    font-size: 18px;
    line-height: 26px;
    text-transform: uppercase;
    color: #FFFFFF;
    display: flex;
    margin: 0 auto;
    margin-top: 50px
}
