<div class="multimedia">
    <div class="container">
        <div class="wrap-heading">
            <h3 class="box-heading">
                <a href="" class="title">multimedia</a>
            </h3>
            <div class="sub-title">
                <a href="#" title=""><i class="ic-tivi"></i>truyền hình</a>
                <a href="#" title=""><i class="ic-podcast"></i>podcast</a>
                <a href="#" title=""><i class="ic-e-ma"></i>e-magazine</a>
                <a href="#" title=""><i class="ic-img"></i>góc ảnh</a>
            </div>
        </div>
        <div class="box-content">
            <div class="item">
                <div class="left">asdasd</div>
                <div class="right">360px</div>
            </div>
            <div class="item">
                <div class="left">asdasd</div>
                <div class="right">360px</div>
            </div>
            <div class="item">
                <div class="left">asdasd</div>
                <div class="right">360px</div>
            </div>
        </div>
    </div>
</div>