.timeline {
    .story {
        margin-top: 30px;
        padding-top: 30px;
        border-top: 1px solid #E9ECEF;

        &:first-child {
            margin-top: 0;
            padding-top: 0;
            border-top: none;
        }

        &__thumb {
            float: left;
            margin-right: 30px;
            width: 330px;
            height: 220px;

        }

        &__heading a {
            font-size: 24px;
            line-height: 35px;
        }

        &__summary {
            margin-top: 10px;
            font-size: 15px;
            color: #6C757D;
        }
    }
}