<div class="weather">
    <h3 class="box-heading">
        <a href="" class="title">tiện ích</a>
    </h3>
    <div class="box-content">
        <div class="col">
            <div class="left">
                <i class="ic-weather"></i>
                <select>
                    <option value="">Bảo Thắng</option>
                    <option value="">Audi</option>
                    <option value="">BMW</option>
                    <option value="">Citroen</option>
                    <option value="">Ford</option>

                </select>
                <p class="text">Mưa rải rác</p>
            </div>
            <div class="right">
                <p class="temperature"> 15 <sup>°C</sup></p>
                <div class="col">
                    <p><i class="ic-up"></i>22<sup>°</sup></p>
                    <p><i class="ic-down"></i>12<sup>°</sup></p>
                </div>
                <p><i class="ic-up"></i>75%</p>
                <p><i class="ic-up"></i>2km/h</p>
            </div>
        </div>
        <div class="col">
            @@for (var i = 0; i < 5; i++) { <div class="item">
                <p class="text">t6</p>
                <i class="ic-weather"></i>
                <span class="temperature">12<sup>°</sup></span>
        </div>
        }
    </div>
    <div class="exchange-rate">
        <a href="" class="title">tỷ giá</a>
        <table>
            <tr>
                <th>Mã NT</th>
                <th>Mua TM</th>
                <th>Mua CK</th>
                <th>Bán</th>
            </tr>
            <tr>
                <td>USD</td>
                <td>12.342</td>
                <td>12.342</td>
                <td>12.342</td>
            </tr>
            @@for (var i = 0; i < 10; i++) {
                <tr>
                    <td>USD</td>
                    <td>12.342</td>
                    <td>12.342</td>
                    <td>12.342</td>
                </tr>
            }
        </table>
    </div>
</div>
</div>