<header class="site-header">
    <div class="hamburger">
        <span></span>
        <span></span>
        <span></span>
    </div>
    <h1 class="region-logo">
        <a href="index.html" class="logo">Nghệ An</a>
    </h1>
    <div class="wrap-search">
        <i class="ic-search"></i>
    </div>
</header>

<div class="navigation">
    <ul class="menu">
        <li class=""> <a href="https://m.baonghean.vn/thoi-su-chinh-tri/" title="Thời sự">Thời sự</a> </li>
        <li class=""> <a href="https://m.baonghean.vn/dua-nghi-quyet-cua-dang-vao-cuoc-song/xay-dung-dang/"
                title="Xây dựng Đảng">Xây dựng Đảng</a> </li>
        <li class=""> <a href="https://m.baonghean.vn/kinh-te/" title="Kinh tế">Kinh tế</a> </li>
        <li class=""> <a href="https://m.baonghean.vn/xa-hoi/" title="Xã hội">Xã hội</a> </li>
        <li class=""> <a href="https://m.baonghean.vn/giao-duc-khoa-hoc/" title="Giáo dục">Giáo dục</a> </li>
    </ul>
    <div class="mask">mask</div>
</div>

<div class="search-wrapper">
    <div class="region-search">
        <input type="text" class="search" placeholder="Tìm kiếm...">
        <i class="ic-search"></i>
    </div>
    <div class="mask">mask</div>
</div>