<div class="hot-news">
    <h3 class="box-heading">
        <a href="" class="title">đọc nhiều</a>
    </h3>
    <div class="box-content">
        <article class="story">
            <figure class="story__thumb">
                <a href="" title=""> <img src="https://source.unsplash.com/random/330x185?sig=1"
                        alt="330x185 (16x9)"></a>
            </figure>
            <h5 class="story__heading">
                <a href="#">
                    Trung Quốc tổ chức lễ hỏa táng nguyên Tổng Bí thư, Chủ tịch Giang Trạch Dân
                </a>
            </h5>
        </article>
        @@for (var i = 0; i < 4; i++) {
            <article class="story">
               <h5 class="story__heading">
                   <a href="#">
                    Nga: Nổ xe chở xăng tại sân bay khiến nhiều người thương vong
                   </a>
               </h5>
            </article>
        }
    </div>
</div>