<div class="slide">
    <h3 class="box-heading">
        <a href="" class="title">đọc báo in</a>
    </h3>
    <div class="box-content">
        @@for (var i = 0; i < 5; i++) { <article class="story">
            <figure class="story__thumb">
                <a href="" title=""> <img src="https://source.unsplash.com/random/200x300?sig=1"
                        alt="200x300 (2x3)"></a>
            </figure>
            <h5 class="story__heading">
                <a href="#">
                    BÁO Lào Cai SỐ 24592
                </a>
                <span class="time">Ngày 04-03-2023</span>
            </h5>
            </article>
            }
    </div>
</div>