.article {
    >* {
        margin-top: 16px;

        &:first-child {
            margin-top: 0;
        }
    }

    &__sub-title {
        font-size: 14px;
        font-weight: 600;
        color: #343a40;
        text-transform: uppercase;
    }

    &__title {
        font-weight: $font-weight-semibold;
        font-size: 24px;
        line-height: 29px;
        color: #212529;
    }

    &__meta {

        >* {
            height: 20px;
            display: flex;
            align-items: center;
            font-size: 16px;
            line-height: 23px;
            color: #6C757D;

            &:first-child {
                margin-right: 12px;
            }

            [class*="ic-"] {
                margin-right: 4px;

                &::before {
                    font-size: 22px;
                }
            }
        }

        .author {
            float: left;
        }

        iframe {
            clear: both;
            margin-top: 12px;
        }
    }

    &__sapo {
        font-weight: $font-weight-semibold;
        font-size: 19px;
        line-height: 29px;
        color: #000000;
    }

}