.article {
    >* {
        margin-top: 20px;

        &:first-child {
            margin-top: 0;
        }
    }

    &__sub-title {
        font-size: 16px;
        font-weight: 600;
        color: #343a40;
        text-transform: uppercase;
    }

    &__title {
        font-weight: $font-weight-semibold;
        font-size: 50px;
        line-height: 60px;
        color: #212529;
    }

    &__meta {
        display: flex;
        align-items: center;

        >* {
            height: 20px;
            display: flex;
            align-items: center;
            font-size: 16px;
            line-height: 23px;
            color: #6C757D;
            margin-left: 40px;

            &:first-child {
                margin-left: 0;
            }

            [class*="ic-"] {
                margin-right: 10px;
            }
        }

        iframe {
            margin-left: auto;
        }
    }

    &__sapo {
        font-size: 19px;
        font-weight: $font-weight-semibold;
        color: #000000;
        line-height: 28px;
    }

}