<div class="abf-homepage">
    <div class="top">
        <article class="story">
            <figure class="story__thumb">
                <a href="" title=""> <img src="https://source.unsplash.com/random/810x540?sig=1"
                        alt="810x540 (3x2)"></a>
            </figure>
            <h5 class="story__heading">
                <a href="#">
                    Official Gazette issues Nos 09-12/2022, available on April 28, 2022
                    <i class="ic-type-audio"></i>
                    <i class="ic-type-video"></i>
                    <i class="ic-type-img"></i>
                    <i class="ic-type-interview">interview</i>
                    <i class="ic-type-longform">longform</i>
                    <i class="ic-type-info">infographic</i>
                    <i class="ic-type-live">live</i>
                </a>
            </h5>
        </article>
    </div>
    <div class="bottom">
        @@for (var i = 0; i < 4; i++) { <article class="story">
            <figure class="story__thumb">
                <a href="" title=""> <img src="https://source.unsplash.com/random/300x200?sig=1"
                        alt="300x200 (3x2)"></a>
            </figure>
            <h5 class="story__heading">
                <a href="#">
                    Official Gazette issues Nos 09-12/2022, available on April 28, 2022
                </a>
            </h5>
            </article>
            }
    </div>
</div>